
h3{
width: 300px;
padding: 25px;
margin: auto;

background: #7CC6C6;

text-align: center;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #000000;
}

h2{
	width: 600px;
	padding: 25px;
	margin: auto;
	font-size: 18px;
}
.col-sm-12{
	padding: 20px;
}

.container{

	padding: 20px;
}







